@charset "UTF-8";
@font-face {
    font-family:'fonterobo' ;
    src: url(IDroid.otf);
    /*
    #83e1ad      #3ddc84      #2fa868      #1a5c37
    */
}
:root{
    --cor0: #83e1ad;
    --cor1: #3ddc84;

    --font-padrao: arial, verdana, helvetica, sans-serif;
}
/*
*{
    uma regra
}
*/
*{
    margin: 0px;
   padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
   background-image: linear-gradient(180deg, #188b26, #14641d,
   #012005);
   min-width: 150px ;
   
   padding-top: 40px;
   
   
}
p{ 
    padding: 10px;
}
header > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px black;
    
}
header > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px black;
    
    }
   
nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.596);
    margin-top: 20px;
}
nav > a {
    color: rgb(146, 211, 140);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
   
}
nav > a:hover{
    background-color: #02c0188a;
    border-radius: 3px;
   
}
main{
   background-color: white;
   min-width: 300px;
   max-width: 1000px;
   margin: auto;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
    
    
}
article > h1{
    background-color:rgba(133, 221, 133, 0.808) ;
    font-family: fonterobo;
    color: green;
    padding-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    
}
article > p{
    
    text-indent: 1em;
    margin-left: 20px;
    margin-right: 1em;
}
article > h2{
    font-family: fonterobo;
    background-color: rgba(133, 221, 133, 0.808);
    color: green;
    padding-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.fts{
    width: 100%;
    display: block;
    margin: auto;
}
#ftbug{
    max-width: 600px;
    min-width: 300px;
    
}
#boxv{
    background-color: #0a5503;
}
h2{
    background-color: #02c018;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
    div.videos{
        background-color: rgba(144, 236, 144, 0.884);
        margin: 0px -20px 30px -20px; 
        padding: 20px;
        position: relative;
        padding-bottom: 55%;
    }
    div.videos > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        
    }
    
#block{
      background-color: var(--cor1);
      border-radius: 10px;
      padding-bottom: 10px;
}
div > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0'; /* \2714 é    codigo e o \00A0 é o espaçamento*/
    padding: 5px;
    columns: 2;

}
h3 {
    background-color: green;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
div > p{
    text-indent: 2em;
    }
   
footer{
    background-color: #02c018;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    }
    footer > a {
        text-decoration: none;
    }
    footer > a:hover {
        text-decoration: underline;
        color: var(--cor1);
    }


